.header-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    background-color: #7a5a38;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #6a4b2f;
}

.actions {
    display: flex;
    gap: 6px;
    justify-content: center;
}

.edit-btn,
.delete-btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    padding: 4px 8px;
    font-size: 0.9rem;
}

.edit-btn {
    background-color: #c49a6c;
}

.edit-btn:hover {
    background-color: #b18455;
}

.delete-btn {
    background-color: #b74d4d;
}

.delete-btn:hover {
    background-color: #9d3b3b;
}
