name: Deploy Frontend to Azure Container Apps

on:
  push:
    branches: [ main ]
    paths:
      - "frontend/**"
      - ".github/workflows/**"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.SKINCAREFRONTEND_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.SKINCAREFRONTEND_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.SKINCAREFRONTEND_AZURE_SUBSCRIPTION_ID }}

      - name: Log in to Azure Container Registry
        run: |
          echo "${{ secrets.SKINCAREFRONTEND_REGISTRY_PASSWORD }}" | docker login skincare.azurecr.io -u ${{ secrets.SKINCAREFRONTEND_REGISTRY_USERNAME }} --password-stdin

      - name: Build Docker image
        run: |
          docker build -f frontend/Dockerfile -t skincare.azurecr.io/skincare-frontend:${{ github.sha }} frontend

      - name: Push Docker image
        run: |
          docker push skincare.azurecr.io/skincare-frontend:${{ github.sha }}

      - name: Deploy to Azure Container Apps
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az containerapp update \
              --name skincare-frontend \
              --resource-group skincare \
              --image skincare.azurecr.io/skincare-frontend:${{ github.sha }}
